<div class="profile-wrapper">
  <div class="profile-card flex-center-v">
    <div class="logo"><img
        src="../assets/images/logo.png"
        alt="Bank Logo"
        class="logo-img"
      /></div>
    <div class="profile-info-wrapper flex-col">
      <p class="account-holder-name">{{this.name}}</p>
      <p class="profile-info">Account Number:
        <span class="account-num">{{this.accountNum}}</span></p>
      <p class="profile-info">Customer ID:
        <span class="account-num">{{this.custId}}</span></p>
      <p class="profile-info">UPI ID:
        <span class="account-upi-id">{{this.upiid}}</span></p>
      <p class="profile-info">Email:
        <span class="account-email">{{this.email}}</span></p>
      <p class="profile-info">Phone num:
        <span class="account-phonenum">{{this.phonenum}}</span></p>
      {{#if this.isBalanceShown}}
        <p class="profile-info">Balance:
          <span class="account-balance">{{this.balance}} Rs.</span></p>
        <button
          class="button"
          type="button"
          {{on "click" this.toggleBalanceShown}}
        >Hide Balance</button>
      {{else}}
        <button
          class="button"
          type="button"
          {{on "click" this.toggleBalanceShown}}
        >Show Balance</button>
      {{/if}}
    </div>
  </div>
</div>