<div class="transaction-filters flex-center-v">
  <div class="transaction-type-filter flex-center-v">
    {{#each this.transactionTypes as |type index|}}
      <div>
        <input
          type="radio"
          id="option{{index}}"
          name="options"
          value="{{type}}"
          checked={{if (eq index 0) true false}}
          {{on "click" this.handleTypeFilter}}
        />
        <label for="option{{index}}">{{type}}</label>
      </div>
    {{/each}}
  </div>
  <div class="transaction-entries-num-filter flex-center-v">
    <span>Show</span>
    <input
      type="number"
      min="0"
      max="{{this.transactions.length}}"
      value="{{this.entriesnum}}"
      name="entries-num"
      {{on "input" this.handleEntriesNumFilter}}
    /><label for="entries-num">entries</label>
  </div>
  <div class="transaction-date-filter flex-center-v">
    <label for="from-date">From:</label>
    <input
      type="date"
      name="from-date"
      value={{this.fromDate}}
      {{on "change" this.handleFromDateFilter}}
    />
    <label for="to-date">To:</label>
    <input
      type="date"
      name="to-date"
      value={{this.toDate}}
      {{on "input" this.handleToDateFilter}}
    />
  </div>
</div>
{{#if (gt this.transactions.length 0)}}
  <table class="transaction-table">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Type</th>
        <th>Date</th>
        <th>Sender Account No.</th>
        <th>Recipient Account No.</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.transactions as |transaction index|}}
        {{#if (lt index this.entriesnum)}}
          <tr>
            <td>{{transaction.transactionId}}</td>
            <td>{{transaction.transactionType}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.accountNum}}</td>
            <td>
              {{#if (gt transaction.recipientAccountNum 0)}}
                {{transaction.recipientAccountNum}}
              {{else}}
                -
              {{/if}}
            </td>
            <td
              class="amount
                {{if
                  (eq transaction.transactionType 'deposit')
                  'text-green'
                  (if
                    (eq transaction.recipientAccountNum this.auth.accountNum)
                    'text-green'
                    'text-red'
                  )
                }}"
            >{{transaction.amount}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="transactions-none-alert">No transactions to show</p>
{{/if}}